@media (max-width: 1610px) {
  .header__logo {
    margin-right: 100px;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-us__text {
    max-width: 100%;
  }

  .about-container__left {
    display: inline-block;
    width: 970px;
    margin: 0;
    margin-bottom: 30px;
    height: 100%;
  }

  .about-container__left img {
    width: 970px;
  }

  .about-container__right {
    width: 970px;
  }

  .stages-end__left {
    margin-right: 12px;
  }

  .footer-left {
    margin-right: 240px;
  }

  .footer-right {
    display: none;
  }
}

@media (max-width: 1201px) {
  .header__nav {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #000;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(3) {
    bottom: 0px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger:focus {
    outline-offset: 2px;
    outline: 2px solid #FF9900;
    transition: outline 0.3s ease-in-out;
  }

  .stages-end__right {
    border-radius: 32px;
    width: 437px;
    background-image: url("../img/stages-1024.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-left {
    margin-right: 110px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 26px 0;
  }

  .container {
    padding: 0 50px;
  }

  .burger {
    margin-right: 100px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__container {
    padding: 160px 10px 159px 77px;
  }

  .hero__title {
    margin-bottom: 12px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 64px;
    max-width: 670px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    padding-top: 37px;
    padding-bottom: 82px;
  }

  .about-us__text {
    max-width: 891px;
    margin-bottom: 61px;
  }

  .about-container__left {
    width: 925px;
    height: 642px;
  }

  .about-container__left img {
    width: 100%;
    height: 100%;
  }

  .about-container__right {
    width: 925px;
  }

  .about-content__card {
    padding-left: 74px;
    width: 920px;
  }

  .about-content__text {
    max-width: 490px;
  }

  .about-content__icon {
    width: 190px;
    margin-right: 50px;
  }

  .spec-icon {
    margin-right: 20px;
  }

  .stages {
    padding-bottom: 77px;
  }

  .stages-start__title {
    margin-bottom: 51px;
  }

  .stages-start__item {
    margin-bottom: 55px;
  }

  .stages-text__descr {
    margin-bottom: 24px;
  }

  .stages-end__left {
    max-width: 450px;
    margin-right: 38px;

  }

  .stages-end__right {
    background-position: right;
  }

  .item-question__title {
    font-size: 20px;
  }

  .faq {
    padding-bottom: 86px;
  }

  .faq__title {
    margin-bottom: 37px;
  }

  .faq__item {
    padding: 15px 0 14px;
  }

  .question-spec {
    max-width: 630px;
  }

  .footer {
    padding: 50px 0px;
  }

  .footer__logo {
    margin-bottom: 21px;
  }

  .footer-left {
    margin-right: 129px;
  }

  .form__input {
    min-width: 540px;
  }

  .form__textarea {
    padding-top: 26px;
    margin-bottom: 38px;
    max-width: 540px;
  }

  .form__btn {
    padding: 19px 39px;
  }

}

@media (max-width: 1002px) {
  .about-container__left {
    width: 668px;
  }

  .about-container__left img {
    width: 100%;
    height: 100%;
  }

  .about-container__right {
    width: 668px;
  }

  .about-content__card {
    padding: 35px 46px 35px 40px;
    width: 668px;
  }

  .about-content__icon {
    width: 114px;
    margin-right: 16px;
  }

  .about-content-icon {
    width: 114px;
  }

  .stages__bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .stages-start__item {
    margin-bottom: 20px;
  }

  .stages-start__list {
    justify-content: space-evenly;
  }

  .stages-end__left {
    max-width: 667px;
    margin: 0;
  }

  .stages-end__right {
    margin-bottom: 38px;
    width: 668px;
    height: 224px;
    background-image: url("../img/stages-768.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-left__list {
    display: none;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer-middle__form {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 11px 0;
  }

  .hero__container {
    padding: 152px 10px 159px 40px;
  }

  .hero__title {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 67px;
  }

  .hero__descr {
    max-width: 590px;
    margin-bottom: 59px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-us {
    padding-bottom: 45px;
  }

  .about-us__text {
    margin-bottom: 56px;
  }

  .about-container__left {
    width: 100%;
    min-height: 651px;
  }

  .about-container__inner {
    padding-right: 42px;
    padding-left: 40px;
    padding-top: 56px;
  }

  .container-inner__text {
    max-width: 360px;
  }

  .about-content__card {
    padding: 35px 43px 33px 40px;
    margin-bottom: 30px;
  }

  .stages {
    padding-bottom: 47px;
  }

  .stages-start__list {
    justify-content: space-between;
  }

  .stages-start__item {
    margin-bottom: 50px;
  }

  .stages-end__right {
    height: 286px;
  }

  .faq {
    padding-bottom: 111px;
  }

  .faq__title {
    margin-bottom: 35px;
  }

  .faq__item {
    padding: 17px 0 16px;
  }

  .faq__item:nth-child(2) {
    padding: 12px 0 10px;
  }

  .faq__item:nth-child(3) {
    padding: 10px 0 9px;
  }

  .faq__item:nth-child(3) svg {
    transform: translateY(-7px);
  }

  .faq__item:nth-child(4) {
    padding: 11px 0 10px;
  }

  .faq__item:nth-child(5) {
    padding: 10px 0 10px;
  }

  .faq__item:nth-child(5) svg {
    transform: translateY(-7px);
  }

  .question-spec {
    max-width: 482px;
  }

  .item-spec-3 {
    max-width: 460px;
  }

  .footer {
    padding-bottom: 46px;
  }

  .form__input {
    margin-bottom: 24px;
  }

  .form__textarea {
    margin-bottom: 34px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
}

@media (max-width: 690px) {
  .hero__container {
    padding: 52px 10px 29px 40px;
  }

  .hero__title {
    font-size: 46px;
  }

  .hero__descr {
    font-size: 16px;
  }

  .hero__btn {
    font-size: 16px;
    line-height: 15px;
  }

  .about-container__left {
    margin-bottom: 250px;
    min-height: auto;
    height: 400px;
  }

  .about-container__inner {
    flex-direction: column;
    position: initial;
    padding: 0;
    padding-top: 11px;
    background: none;
  }

  .container-inner__text {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    max-width: 550px;
    align-self: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--black-color);
  }

  .container-inner__btn {
    align-self: start;
    color: var(--orange-color);
  }

  .about-container__right {
    width: 100%;
  }

  .about-content__card {
    flex-direction: column;
    padding: 0;
    border: none;
    width: 100%;
  }

  .stages-start__list {
    margin-bottom: 20px;
  }

  .stages-start__item {
    margin: 0;
  }

  .stages-start__item:not(:last-child) {
    margin-right: 0;
  }

  .stages-end__right {
    width: 100%;
  }

  .item-question__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .question-spec {
    width: calc(100% - 50px);
  }

  .item-spec-3 {
    width: calc(100% - 50px);
  }

  .footer-middle {
    margin-right: 0;
  }

  .footer-content__middle {
    min-width: 290px;
  }

  .footer-middle__title {
    font-size: 40px;
  }

  .footer-middle__form {
    align-items: center;
  }

  .form__input {
    width: 100%;
    min-width: 290px;
  }

  .form__textarea {
    width: 100%;
    max-width: inherit;
    min-width: 290px;
  }

  .form-last {
    flex-direction: column;
  }

  .form__btn {
    margin: 0;
    margin-bottom: 10px;
  }

  .footer-content__left {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  /* .footer-content__left::after {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid var(--grey-color);
  } */

}

@media (max-width: 470px) {
  .container {
    padding: 0 15px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .hero {
    padding-top: 30px;
  }

  .burger {
    margin-right: auto;
  }

  .header__logo {
    margin-right: auto;
    height: 35px;
    width: 110px;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 21px 20px 21px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
  }

  .about-text__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about-container__left {
    margin-bottom: 31px;
    min-height: 200px;
    height: 100%;
  }

  .about-us__text {
    margin-bottom: 10px;
  }

  .container-inner__text {
    font-size: 14px;
    line-height: 28px;
  }

  .container-inner__btn {
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
  }

  .container-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .card-content__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about-content-icon,
  .about-content__icon {
    margin-bottom: 10px;
    width: 64px;
    height: 49px;
  }

  .stages-start__link {
    font-size: 14px;
    line-height: 17px;
  }

  .stages-text__btn-orange {
    padding: 12px 44px;
    margin-right: 4px;
    font-size: 12px;
    line-height: 15px;
  }

  .stages-text__btn-black {
    padding: 12px 32px;
    font-size: 12px;
    line-height: 15px;
  }

}

@media (max-width: 320px) {
  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
