@media (max-width: 1610px) {
  .header__logo {
    margin-right: 100px;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-container__left {
    display: inline-block;
    width: 970px;
    margin: 0;
    margin-bottom: 30px;
    height: 100%;
  }

  .about-container__left img {
    width: 970px;
  }

  .about-container__right {
    width: 970px;
  }

  .stages-end__left {
    margin-right: 12px;
  }

  .footer-left {
    margin-right: 240px;
  }

  .footer-right {
    display: none;
  }
}

@media (max-width: 1201px) {
  .header__nav {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #000;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(3) {
    bottom: 0px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger:focus {
    outline-offset: 2px;
    outline: 2px solid #FF9900;
    transition: outline 0.3s ease-in-out;
  }

  .stages-end__right {
    border-radius: 32px;
    width: 437px;
    background-image: url("../img/stages-1024.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-left {
    margin-right: 110px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 26px 0;
  }

  .container {
    padding: 0 50px;
  }

  .burger {
    margin-right: 100px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__container {
    padding: 160px 10px 111px 77px;
  }

  .hero__title {
    margin-bottom: 12px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 64px;
    max-width: 670px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    padding-top: 85px;
    padding-bottom: 81px;
  }

  .about-us__text {
    max-width: 891px;
    margin-bottom: 61px;
  }

  .about-container__left {
    width: 925px;
  }

  .about-container__left img {
    width: 925px;
    height: 640px;
  }

  .about-container__right {
    width: 920px;
  }

  .about-content__card {
    padding-left: 22px;
    width: 925px;
  }

  .about-content__icon {
    margin-right: 1px;
  }

  .spec-icon {
    margin-right: 20px;
  }

  .stages {
    padding-bottom: 77px;
  }

  .stages-start__list {
    margin-bottom: 55px;
  }

  .stages-text__descr {
    margin-bottom: 27px;
  }

  .stages-end__left {
    max-width: 450px;
    margin-right: 38px;

  }

  .stages-end__right {
    background-position: right;
  }

  .item-question__title {
    font-size: 20px;
  }

  .faq {
    padding-bottom: 65px;
  }

  .faq__item {
    padding: 15px 0;
  }

  .footer {
    padding: 50px 0px;
  }

  .footer__logo {
    margin-bottom: 21px;
  }

  .footer-left {
    margin-right: 129px;
  }

  .form__input {
    min-width: 540px;
  }

  .form__textarea {
    padding-top: 26px;
    margin-bottom: 38px;
    max-width: 540px;
  }

  .form__btn {
    padding: 19px 39px;
  }

}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 320px) {}
