html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

list-reset,
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local(MontserratRegular),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(MontserratSemiBold),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(MontserratBold),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(MontserratExtraBold),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 23px;
  max-width: 1800px;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.container-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.section-offset {
  padding-bottom: 100px;
}

:root {
  --white-color: #FFFFFF;
  --orange-color: #FF9900;
  --strong-orange-color: #E1670E;
  --light-orange-color: #FFB84D;
  --black-color: #000000;
  --grey-color: #CACACA;
  --strong-grey-color: #666666;
}

/* header */
.header {
  border-radius: 0px 0px 32px 32px;
  padding: 13px 0;
  background-color: var(--white-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center
}

.header__logo {
  width: 225px;
  height: 72px;
  margin: 0;
  margin-right: 546px;
  display: block;
}

.header__logo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  padding: 25px 0;
}

.nav__item:not(:last-child) {
  margin-right: 84px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange-color);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
  background-color: var(--orange-color);
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:active {
  outline: none;
  opacity: 1;
  color: var(--strong-orange-color);
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav__link:active::after {
  background-color: var(--strong-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.header__search {
  position: relative;
  display: block;
  top: 24px;
  transform: translateY(-25px);
}

/* hero */
.hero {
  padding-top: 50px;
  padding-bottom: 25px;
}

.hero__container {
  border-radius: 32px;
  padding: 100px 853px 100px 80px;
  background-image: url('../img/hero-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 84px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.hero__btn {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background-color: var(--orange-color);
  border-radius: 16px;
  color: var(--white-color);
}

.hero__btn:focus {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:active {
  background-color: var(--strong-orange-color);
  transition: background-color 0.3s ease-in-out;
}

/* about-us */
.about-us {
  padding-top: 23px;
}

.about-us__title {
  margin-bottom: 18px;
}

.about-us__text {
  max-width: 1235px;
  margin-bottom: 47px;
}

.about-text__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

.about-container__left {
  position: relative;
  border-radius: 32px;
  width: calc((100% - 30px) / 2);
  height: 617px;
  margin: 0;
  margin-right: 30px;
}

.about-container__inner {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 196px;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.container-inner__text {
  max-width: 433px;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 155px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.container-inner__btn {
  border: 3px solid var(--orange-color);
  border-radius: 16px;
  padding: 20px 38px 20px 30px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

.container-inner__btn:focus {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.container-inner__btn:hover {
  background-color: var(--orange-color);
  transition: background-color 0.3s ease-in-out;
}

.container-inner__btn:active {
  background-color: var(--strong-orange-color);
  border-color: var(--strong-orange-color);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-container__right {
  width: calc((100% - 30px) / 2);
}

.about-content__card {
  flex-direction: row;
  margin-right: 0px;
  padding: 62px 100px 65px 35px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 32px;
}

.about-content__card:not(:last-child) {
  margin-bottom: 32px;
}

.about-content__icon {
  width: 100%;
  margin-right: 20px;
}

.spec-icon {
  margin-right: 35px;
}

.card-content__title {
  margin-bottom: 8px;
}

.card-content__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

/* stages */
.stages {
  padding-bottom: 105px;
}

.stages-start__title {
  margin-bottom: 47px;
}

.stages-start__list {
  flex-direction: row;
  margin-bottom: 45px;
}

.stages-start__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  transition: color 0.3s ease-in-out;
}

.stages-start__link:focus {
  color: var(--black-color);
  outline-offset: 2px;
  outline: 2px solid var(--orange-color);
}

.stages-start__link:hover {
  color: var(--orange-color);
}

.stages-start__link:active {
  outline: none;
  color: var(--strong-orange-color);
}

.stages-start__item:not(:last-child) {
  margin-right: 85px;
}

.stages__bottom {
  flex-direction: row;
}

.stages-end__left {
  width: calc((100% - 132px) / 2);
  margin-right: 132px;
}

.stages-text__title {
  margin-bottom: 8px;
}

.stages-text__descr {
  max-width: 758px;
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color)
}

.stages-text__btn-orange {
  padding: 20px 38px;
  margin-right: 25px;
  background: var(--orange-color);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

.stages-text__btn-orange:focus {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.stages-text__btn-orange:hover {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.stages-text__btn-orange:active {
  background-color: var(--strong-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.stages-text__btn-black {
  padding: 20px 38px;
  border: 1px solid var(--black-color);
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.stages-text__btn-black:focus,
.stages-text__btn-black:hover {
  background-color: var(--strong-grey-color);
  color: var(--white-color);
  border-color: var(--strong-grey-color);
}

.stages-text__btn-black:active {
  background-color: var(--black-color);
  color: var(--white-color);
  border-color: var(--black-color);
}

.stages-end__right {
  border-radius: 32px;
  width: 918px;
  background-image: url('../img/stages.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

/* faq */
.faq {
  padding-bottom: 97px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__item {
  position: relative;
  margin-top: -1px;
  padding: 15px 0;
  padding-right: 75px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--grey-color);
  transition: border-color 0.3s ease-in-out;
}

.faq__item:first-child {
  border-color: var(--grey-color);
}

.faq__item:focus {
  border-color: var(--orange-color);
}

.faq__item:focus .item-question__title {
  color: var(--orange-color);
}

.faq__item:hover {
  border-color: var(--orange-color);
}

.faq__item:hover .item-question__title {
  color: var(--orange-color);
}

.faq__item:active {
  border-color: var(--grey-color);
}

.faq__item:active .item-question__title {
  color: var(--black-color);
}

.item-question__title {
  transition: color 0.3s ease-in-out;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
}

.faq__item svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.faq__item svg ellipse,
.faq__item svg path {
  transition: fill 0.3s ease-in-out;
}

.faq__item:focus svg ellipse {
  fill: var(--orange-color);
}

.faq__item:focus svg path {
  fill: var(--white-color);
}

.faq__item:hover svg ellipse {
  fill: var(--orange-color);
}

.faq__item:hover svg path {
  fill: var(--white-color);
}

.faq__item:active svg ellipse {
  fill: var(--grey-color);
}

.faq__item:active svg path {
  fill: var(--black-color);
}

/* footer */
.footer {
  padding: 50px 75px;
  background-color: var(--black-color);
}

.footer__container {
  flex-direction: row;
  padding: 0;
}

.footer-left {
  min-width: 252px;
  margin-right: 340px;
}

.footer__logo {
  width: 224px;
  height: 72px;
  margin: 0;
  margin-bottom: 17px;
  display: block;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-left__list {
  margin-bottom: 90px;
}

.footer-left__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey-color);
  transition: color 0.3s ease-in-out;
}

.footer-left__link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange-color);
  color: var(--grey-color);
}

.footer-left__link:hover {
  outline: none;
  color: var(--orange-color);
}

.footer-left__link:active {
  outline: none;
  color: var(--strong-orange-color);
}

.footer-left__social-list {
  flex-direction: row;
}

.footer-left__social-item:not(:last-child) {
  margin-right: 25px;
}

.social-link svg path {
  fill: #666666;
  transition: fill 0.3s ease-in-out;
}

.social-link:focus svg path {
  fill: #666666;
}

.social-link:hover svg path {
  fill: var(--orange-color);
}

.social-link:active svg path {
  fill: var(--strong-orange-color);
}

.social-link:focus {
  outline-offset: 2px;
  outline: 2px solid var(--orange-color);
}

.social-link:hover {
  outline: none;
}

.social-link:active {
  outline: none;
}

.footer-middle {
  min-width: 570px;
  margin-right: 230px;
}

.footer-middle__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--grey-color);
}

.form__input {
  box-shadow: none;
  min-width: 570px;
  min-height: 60px;
  padding: 14px;
  padding-left: 24px;
  margin-bottom: 22px;
  color: var(--white-color);
  background-color: #414141;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  background-color: var(--strong-grey-color);
}

.form__input:hover {
  background-color: var(--strong-grey-color);
}

.form__input:active {
  background-color: var(--strong-grey-color);
}

.form__textarea {
  width: 570px;
  height: 150px;
  padding-top: 14px;
  padding-left: 24px;
  margin-bottom: 27px;
  color: var(--white-color);
  background-color: #414141;
  border-radius: 16px;
}

.form__btn {
  padding: 19px 52px;
  margin-right: 17px;
  background: var(--orange-color);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

.form__btn:focus {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.form__btn:hover {
  background-color: var(--light-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.form__btn:active {
  background-color: var(--strong-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.check {
  display: inline-block;
  padding-left: 1.2em;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
  cursor: pointer;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-left: -1.2em;
  margin-top: 0.5em;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" rx="1.5" stroke="%23CACACA"/%3E%3C/svg%3E');
}

.check__input:checked+.check__box {
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" rx="1.5" stroke="%23CACACA"/%3E%3Cpath d="M10.9495 4.08233L5.99977 9.03208L3.17135 6.20365" stroke="%2397EE3F" stroke-width="2"/%3E%3C/svg%3E');
}

.footer-right {
  padding-top: 86px;
}

.footer-right__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}
