html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local(Muller-Regular),
    url('../fonts/MullerRegular.woff2') format('woff'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local(Muller-Medium),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local(Muller-Bold),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background: #F1F1F1;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  text-indent: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-offset {
  padding-bottom: 70px;
}

/* header */
.vissually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  padding: 30px 0 70px;
}

.container-header {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-link-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.link-login {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.link-icon {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.container-nav {
  padding: 14px 45px 14px 45px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 15px;
  justify-content: space-between;
}

.nav-list {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 56px;
  border-right: 1px solid #E1E1E1;
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.btn-item {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.btn-item:not(:last-child) {
  margin-right: 40px;
}

/* offers */
.container-offers-left {
  flex-direction: column;
  margin-right: 23px;
}

.container-offers-right {
  align-items: flex-end;
}

.card {
  padding: 40px 234px 40px 40px;
  width: 573px;
  border-radius: 15px;
}

.card:not(:last-child) {
  margin-bottom: 23px;
}

.card-spec {
  padding: 211px 234px 41px 40px;
  width: 573px;
  border-radius: 15px;
}

.cards-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.cards-spec-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.cards-preview-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.cards-spec-preview-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

.cards-preview-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.link-icon-feature-offer {
  position: relative;
  top: 5px;
}

.card-img-1 {
  background-image: url('../img/preview-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-img-2 {
  background-image: url('../img/preview-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-img-3 {
  background-image: url('../img/preview-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* about us */
.about-us {
  padding-bottom: 93px;
}

.about-us-title {
  margin-bottom: 11px;
}

.about-us-text {
  max-width: 888px;
  margin: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* services */
.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
  margin-bottom: 22px;
  padding: 185px 126px 45px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-photo {
  flex-direction: column;
  justify-content: center;
}

.services-item-title {
  margin: 0;
  margin-bottom: 2px;
}

.offer-link {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.link-icon-feature-services {
  position: relative;
  top: 3px;
}

.offer-text {
  margin: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.services-image1 {
  background-image: url('../img/offer-1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image2 {
  background-image: url('../img/offer-2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image3 {
  background-image: url('../img/offer-3.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-image4 {
  background-image: url('../img/offer-4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

/* advantages */
.advantages-title {
  margin-bottom: 30px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  width: 275px;
  margin-bottom: 23px;
  padding: 40px 42px 41px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-item-icon {
  margin-bottom: 10px;
}

.advantages-item-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* placement */
.placement-title {
  margin-bottom: 30px;
}

.placement-list {
  flex-wrap: wrap;
}

.placement-item {
  width: 374px;
  margin-bottom: 23px;
  background: #FFFFFF;
  border-radius: 15px;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placement-item-from {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.placement-item-night {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.container-placement-descr {
  padding: 36px 46px 41px 45px;
  object-fit: cover;
}

.placement-item-container {
  margin: 0;
  margin-bottom: 16px;
}

.placement-price-container {
  margin-right: 43px;
}

.placement-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.placement-item-locate {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placement-item-btn {
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.last-placement-image {
  background-image: url('../img/last-place.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placement-item {
  justify-content: center;
  align-items: flex-end;
}

.last-placement-item-link {
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
}

.last-place-icon {
  display: inline-flex;
  align-items: center;
}

/* tour */
.tour-container {
  padding: 38px 45px 71px 45px;
  background: #E1E1E1;
  border-radius: 15px;
}

.tour-title {
  margin-bottom: 19px;
  text-indent: 0px;
  color: #000000;
}

.form {
  width: 1080px;
  margin: 0 auto;
  padding: 28px;
  background: #FFFFFF;
  border-radius: 15px;
}

.list-form {
  /* align-content: stretch; */
}

.form-item {
  flex-direction: column;
  padding-right: 20px;
  border-right: 1px solid #E1E1E1;
  ;
}

.form-item:not(:last-child) {
  margin-right: 20px;
}

.form-label {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.form-select,
.form-input {
  border: transparent;
}

.form-select {
  width: 169px;
}

.form-input {
  width: 121px;
}

.form-input-border {
  border-bottom: 1px solid #CCCCCC;
}

.container-btn-form {
  padding-left: 20px;
}

.form-btn {
  padding: 13px 30px;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

/* contacts */
.footer,
.contacts {
  padding-bottom: 20px;
}

.contacts-title {
  margin-bottom: 26px;
  color: #333333;
}

.container-contacts {
  padding: 44px 44px 46px 46px;
  background: #FFFFFF;
  border-radius: 15px;
}

.contacts-left {
  flex-direction: column;
  width: 375px;
  margin-right: 50px
}

.list-contacts {
  flex-direction: column;
}

.item-contacts {
  padding-bottom: 23px;
  border-bottom: 1px solid #C4C4C4;
}

.item-contacts:not(:nth-child(4n)) {
  margin-bottom: 25px;
}

.container-contacts-title {
  width: 98px;
  margin: 0;
  margin-right: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.container-item-contacts {
  flex-direction: column;
}

.container-contacts-descr {
  margin: 0;
  max-width: 214px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.container-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.container-contacts-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.container-contacts-mail-ask {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.container-contacts-btn {
  padding-top: 45px;
}

.contacts-btn {
  padding: 27px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.contacts-right {
  width: 653px;
  height: 528px;
  background-image: url("../img/contacts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
